<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.roacg.service.system.rouser.dao.ResourcePermissionMapper">

    <sql id="Base_Column_List">
    permission_id,
    url,
    `method`,
    `name`,
    en_name,
    description,
    CREATE_TIME,
    UPDATE_TIME,
    CREATE_AT,
    UPDATE_AT,
    UPDATE_ID
</sql>
    <resultMap id="BaseResultMap" type="com.roacg.service.system.rouser.model.po.ResourcePermissionPO">
        <result column="permission_id" property="permissionId"/>
        <result column="url" property="url"/>
        <result column="method" property="method"/>
        <result column="name" property="name"/>
        <result column="en_name" property="enName"/>
        <result column="description" property="description"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="CREATE_AT" property="createAt"/>
        <result column="UPDATE_AT" property="updateAt"/>
        <result column="UPDATE_ID" property="updateId"/>
    </resultMap>
    <insert id="insertResourcePermission">
    INSERT INTO tb_resource_permission(
        `url`,
        `method`,
        `name`,
        `en_name`,
        `description`,
        `create_time`,
        `create_at`
    ) VALUE (
        #{permission.url},
        #{permission.method},
        #{permission.name},
        #{permission.enName},
        #{permission.description},
        NOW(),
        #{permission.createAt}
    )
    </insert>

<!--auto generated by MybatisCodeHelper on 2020-03-01-->
    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_resource_permission
    </select>

</mapper>
