<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.roacg.service.system.rouser.dao.RoleMapper">

    <sql id="Base_Column_List">
        role_id,
        parent_id,
        `name`,
        en_name,
        description,
        CREATE_TIME,
        UPDATE_TIME,
        CREATE_AT,
        UPDATE_AT,
        UPDATE_ID
    </sql>
    <resultMap id="BaseResultMap" type="com.roacg.service.system.rouser.model.po.RolePO">
        <result column="role_id" property="roleId"/>
        <result column="parent_id" property="parentId"/>
        <result column="name" property="name"/>
        <result column="en_name" property="enName"/>
        <result column="description" property="description"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="CREATE_AT" property="createAt"/>
        <result column="UPDATE_AT" property="updateAt"/>
        <result column="UPDATE_ID" property="updateId"/>
    </resultMap>
    <select id="findRolesByUserId" resultType="com.roacg.service.system.rouser.model.po.RolePO">

        SELECT
            role.role_id,
            role.parent_id,
            role.name,
            role.en_name,
            role.description,
            role.create_time,
            role.update_time,
            role.create_at,
            role.update_at,
            role.update_id
        FROM tb_role role LEFT JOIN tb_rouser_role trr ON role.role_id = trr.role_id
        WHERE trr.user_id = #{userId,jdbcType=BIGINT}
    </select>

    <insert id="insertRole">
        INSERT INTO tb_role
        (
            parent_id,
            name,
            en_name,
            description,
            CREATE_TIME,
            CREATE_AT,
            UPDATE_AT,
            UPDATE_ID
        )VALUE(
            #{role.parentId},
            #{role.name},
            #{role.enName},
            #{role.description},
            NOW(),
            #{role.createAt},
            #{role.updateAt},
            #{role.updateId}
        )
    </insert>

    <!--auto generated by MybatisCodeHelper on 2020-03-01-->
    <select id="findAllByParentId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_role
        where parent_id=#{parentId}
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-03-01-->
    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_role
    </select>


</mapper>

